.hidden {
  display: none;
}

#field {
  width: 200px;
  height: 150px;
  border: 10px solid black;
  background-color: #00ff00;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#ball {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  transition: all 1s;
}

#toggle {
  cursor: pointer;
}

/* Example 4 */

h3 {
  margin: 0;
  padding-bottom: 0.3em;
  font-size: 1.1em;
}

p {
  margin: 0;
  padding: 0 0 0.5em;
}

.pane {
  background: #edf5e1;
  padding: 10px 20px 10px;
  border-top: solid 2px #c4df9b;
  /* display: flex; */
}
.pane .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.remove-button {
  font-size: 110%;
  color: darkred;
  right: 10px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}


/* Example 5 */
#example-5 {
    background: red;
    overflow: hidden;
    width: 400px;
    position: relative;
    border-radius: 10px;
    padding: 5px;
}
.arrow {
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
  position: absolute;
  top: 50%;
}

.right {
    right: 0px;
    
}

.left {
    left: 0px;
    
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

ul img {
  width: 130px;
  height: 130px;
  display: block; /* removes extra space near images */
}

ul li {
  display: inline-block;
}
